.article {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 0px;
    border-radius: 5px;
}

.article--white {
    border-color: $white;
}

.article--lightgrey {
    border-color: $lightgrey;
}

.article--grey {
    border-color: $grey;
}

.article--darkgrey {
    border-color: $darkgrey;
}

.article--black {
    border-color: $black;
}

.article--lightblue {
    border-color: $lightblue;
}

.article--blue {
    border-color: $blue;
}

.article--darkblue {
    border-color: $darkblue;
}

.article--lightgreen {
    border-color: $lightgreen;
}

.article--green {
    border-color: $green;
}

.article--darkgreen {
    border-color: $darkgreen;
}

.article--red {
    border-color: $red;
}

.article--darkred {
    border-color: $darkred;
}

.article--orange {
    border-color: $orange;
}

.article--yellow {
    border-color: $yellow;
}


.article--lightbrown {
    border-color: $lightbrown;
}

.article--brown {
    border-color: $brown;
}

.article--darkbrown {
    border-color: $darkbrown;
}

.article--indigo {
    border-color: $indigo;
}

.article--purple {
    border-color: $purple;
}

.article--violet {
    border-color: $violet;
}

.article--lightpink {
    border-color: $lightpink;
}

.article--pink {
    border-color: $pink;
}

.article--darkpink {
    border-color: $darkpink;
}
