//white
.button--color-white {
    background-color:$white;
    box-shadow: 2px 2px 2px 0px $white-shade;

    border-bottom-color: $white-shade;
    border-right-color: $white-shade;

    border-top-color: $white;
    border-left-color: $white;
}

.button--color-white:hover {
    border-bottom-color: $white;
    border-right-color: $white;

    border-top-color: $white-shade;
    border-left-color: $white-shade;
}

//black
.button--color-black {
    background-color:$black;
    box-shadow: 2px 2px 2px 0px $black-shade;

    border-bottom-color: $black-shade;
    border-right-color: $black-shade;

    border-top-color: $black;
    border-left-color: $black;
}

.button--color-black:hover {
    border-bottom-color: $black;
    border-right-color: $black;

    border-top-color: $black-shade;
    border-left-color: $black-shade;
}


//orange
.button--color-orange {
    background-color:$orange;
    box-shadow: 2px 2px 2px 0px $orange-shade;

    border-bottom-color: $orange-shade;
    border-right-color: $orange-shade;

    border-top-color: $orange;
    border-left-color: $orange;
}

.button--color-orange:hover {
    border-bottom-color: $orange;
    border-right-color: $orange;

    border-top-color: $orange-shade;
    border-left-color: $orange-shade;
}


//lightblue
.button--color-lightblue {
    background-color: $lightblue;
    box-shadow: 2px 2px 2px 0px $lightblue-shade;

    border-bottom-color: $lightblue-shade;
    border-right-color: $lightblue-shade;

    border-top-color: $lightblue;
    border-left-color: $lightblue;
}

.button--color-lightblue:hover {
    border-bottom-color: $lightblue;
    border-right-color: $lightblue;

    border-top-color: $lightblue-shade;
    border-left-color: $lightblue-shade;
}


//darkblue
.button--color-darkblue {
    background-color: $darkblue;
    box-shadow: 2px 2px 2px 0px $darkblue-shade;

    border-bottom-color: $darkblue-shade;
    border-right-color: $darkblue-shade;

    border-top-color: $darkblue;
    border-left-color: $darkblue;
}

.button--color-darkblue:hover {
    border-bottom-color: $darkblue;
    border-right-color: $darkblue;

    border-top-color: $darkblue-shade;
    border-left-color: $darkblue-shade;
}

//blue
.button--color-blue {
    background-color: $blue;
    box-shadow: 2px 2px 2px 0px $blue-shade;

    border-bottom-color: $blue-shade;
    border-right-color: $blue-shade;

    border-top-color: $blue;
    border-left-color: $blue;
}

.button--color-blue:hover {
    border-bottom-color: $blue;
    border-right-color: $blue;

    border-top-color: $blue-shade;
    border-left-color: $blue-shade;
}


//lightgrey
.button--color-lightgrey {
    background-color: $lightgrey;
    box-shadow: 2px 2px 2px 0px $lightgrey-shade;

    border-bottom-color: $lightgrey-shade;
    border-right-color: $lightgrey-shade;

    border-top-color: $lightgrey;
    border-left-color: $lightgrey;
}

.button--color-lightgrey:hover {
    border-bottom-color: $lightgrey;
    border-right-color: $lightgrey;

    border-top-color: $lightgrey-shade;
    border-left-color: $lightgrey-shade;
}


//grey
.button--color-grey {
    background-color: $grey;
    box-shadow: 2px 2px 2px 0px $grey-shade;

    border-bottom-color: $grey-shade;
    border-right-color: $grey-shade;

    border-top-color: $grey;
    border-left-color: $grey;
}

.button--color-grey:hover {
    border-bottom-color: $grey;
    border-right-color: $grey;

    border-top-color: $grey-shade;
    border-left-color: $grey-shade;
}


//darkgrey
.button--color-darkgrey {
    background-color: $darkgrey;
    box-shadow: 2px 2px 2px 0px $darkgrey-shade;

    border-bottom-color: $darkgrey-shade;
    border-right-color: $darkgrey-shade;

    border-top-color: $darkgrey;
    border-left-color: $darkgrey;
}

.button--color-darkgrey:hover {
    border-bottom-color: $darkgrey;
    border-right-color: $darkgrey;

    border-top-color: $darkgrey-shade;
    border-left-color: $darkgrey-shade;
}


//lightgreen
.button--color-lightgreen {
    background-color: $lightgreen;
    box-shadow: 2px 2px 2px 0px $lightgreen-shade;

    border-bottom-color: $lightgreen-shade;
    border-right-color: $lightgreen-shade;

    border-top-color: $lightgreen;
    border-left-color: $lightgreen;
}

.button--color-lightgreen:hover {
    border-bottom-color: $lightgreen;
    border-right-color: $lightgreen;

    border-top-color: $lightgreen-shade;
    border-left-color: $lightgreen-shade;
}


//green
.button--color-green {
    background-color: $green;
    box-shadow: 2px 2px 2px 0px $green-shade;

    border-bottom-color: $green-shade;
    border-right-color: $green-shade;

    border-top-color: $green;
    border-left-color: $green;
}

.button--color-green:hover {
    border-bottom-color: $green;
    border-right-color: $green;

    border-top-color: $green-shade;
    border-left-color: $green-shade;
}


//darkgreen
.button--color-darkgreen {
    background-color: $darkgreen;
    box-shadow: 2px 2px 2px 0px $darkgreen-shade;

    border-bottom-color: $darkgreen-shade;
    border-right-color: $darkgreen-shade;

    border-top-color: $darkgreen;
    border-left-color: $darkgreen;
}

.button--color-darkgreen:hover {
    border-bottom-color: $darkgreen;
    border-right-color: $darkgreen;

    border-top-color: $darkgreen-shade;
    border-left-color: $darkgreen-shade;
}


//red
.button--color-red {
    background-color: $red;
    box-shadow: 2px 2px 2px 0px $red-shade;

    border-bottom-color: $red-shade;
    border-right-color: $red-shade;

    border-top-color: $red;
    border-left-color: $red;
}

.button--color-red:hover {
    border-bottom-color: $red;
    border-right-color: $red;

    border-top-color: $red-shade;
    border-left-color: $red-shade;
}


//darkred
.button--color-darkred {
    background-color: $darkred;
    box-shadow: 2px 2px 2px 0px $darkred-shade;

    border-bottom-color: $darkred-shade;
    border-right-color: $darkred-shade;

    border-top-color: $darkred;
    border-left-color: $darkred;
}

.button--color-darkred:hover {
    border-bottom-color: $darkred;
    border-right-color: $darkred;

    border-top-color: $darkred-shade;
    border-left-color: $darkred-shade;
}


//pink
.button--color-pink {
    background-color: $pink;
    box-shadow: 2px 2px 2px 0px $pink-shade;

    border-bottom-color: $pink-shade;
    border-right-color: $pink-shade;

    border-top-color: $pink;
    border-left-color: $pink;
}

.button--color-pink:hover {
    border-bottom-color: $pink;
    border-right-color: $pink;

    border-top-color: $pink-shade;
    border-left-color: $pink-shade;
}

//purple
.button--color-purple {
    background-color: $purple;
    box-shadow: 2px 2px 2px 0px $purple-shade;

    border-bottom-color: $purple-shade;
    border-right-color: $purple-shade;

    border-top-color: $purple;
    border-left-color: $purple;
}

.button--color-purple:hover {
    border-bottom-color: $purple;
    border-right-color: $purple;

    border-top-color: $purple-shade;
    border-left-color: $purple-shade;
}


//yellow
.button--color-yellow {
    background-color: $yellow;
    box-shadow: 2px 2px 2px 0px $yellow-shade;

    border-bottom-color: $yellow-shade;
    border-right-color: $yellow-shade;

    border-top-color: $yellow;
    border-left-color: $yellow;
}

.button--color-yellow:hover {
    border-bottom-color: $yellow;
    border-right-color: $yellow;

    border-top-color: $yellow-shade;
    border-left-color: $yellow-shade;
}


//lightbrown
.button--color-lightbrown {
    background-color: $lightbrown;
    box-shadow: 2px 2px 2px 0px $lightbrown-shade;

    border-bottom-color: $lightbrown-shade;
    border-right-color: $lightbrown-shade;

    border-top-color: $lightbrown;
    border-left-color: $lightbrown;
}

.button--color-lightbrown:hover {
    border-bottom-color: $lightbrown;
    border-right-color: $lightbrown;

    border-top-color: $lightbrown-shade;
    border-left-color: $lightbrown-shade;
}


//brown
.button--color-brown {
    background-color: $brown;
    box-shadow: 2px 2px 2px 0px $brown-shade;

    border-bottom-color: $brown-shade;
    border-right-color: $brown-shade;

    border-top-color: $brown;
    border-left-color: $brown;
}

.button--color-brown:hover {
    border-bottom-color: $brown;
    border-right-color: $brown;

    border-top-color: $brown-shade;
    border-left-color: $brown-shade;
}


//darkbrown
.button--color-darkbrown {
    background-color: $darkbrown;
    box-shadow: 2px 2px 2px 0px $darkbrown-shade;

    border-bottom-color: $darkbrown-shade;
    border-right-color: $darkbrown-shade;

    border-top-color: $darkbrown;
    border-left-color: $darkbrown;
}

.button--color-darkbrown:hover {
    border-bottom-color: $darkbrown;
    border-right-color: $darkbrown;

    border-top-color: $darkbrown-shade;
    border-left-color: $darkbrown-shade;
}


//violet
.button--color-violet {
    background-color: $violet;
    box-shadow: 2px 2px 2px 0px $violet;

    border-bottom-color: $violet;
    border-right-color: $violet;

    border-top-color: $violet;
    border-left-color: $violet;
}

.button--color-violet:hover {
    border-bottom-color: $violet;
    border-right-color: $violet;

    border-top-color: $violet-shade;
    border-left-color: $violet-shade;
}


//indigo
.button--color-indigo {
    background-color: $indigo;
    box-shadow: 2px 2px 2px 0px $indigo-shade;

    border-bottom-color: $indigo-shade;
    border-right-color: $indigo-shade;

    border-top-color: $indigo;
    border-left-color: $indigo;
}

.button--color-indigo:hover {
    border-bottom-color: $indigo;
    border-right-color: $indigo;

    border-top-color: $indigo-shade;
    border-left-color: $indigo-shade;
}


//lightpink
.button--color-lightpink {
    background-color: $lightpink;
    box-shadow: 2px 2px 2px 0px $lightpink-shade;

    border-bottom-color: $lightpink-shade;
    border-right-color: $lightpink-shade;

    border-top-color: $lightpink;
    border-left-color: $lightpink;
}

.button--color-lightpink:hover {
    border-bottom-color: $lightpink;
    border-right-color: $lightpink;

    border-top-color: $lightpink-shade;
    border-left-color: $lightpink-shade;
}

//lightpink
.button--color-darkpink {
    background-color: $darkpink;
    box-shadow: 2px 2px 2px 0px $darkpink-shade;

    border-bottom-color: $darkpink-shade;
    border-right-color: $darkpink-shade;

    border-top-color: $darkpink;
    border-left-color: $darkpink;
}

.button--color-darkpink:hover {
    border-bottom-color: $darkpink;
    border-right-color: $darkpink;

    border-top-color: $darkpink-shade;
    border-left-color: $darkpink-shade;
}
