$white: #fefefe;        $white-shade: #dedede;
$black: #151515;        $black-shade: #333;

$lightblue: #9ac0cd;    $lightblue-shade: #89b0bc;
$blue: #151599;         $blue-shade: #040477;
$darkblue: #191944;     $darkblue-shade: #090933;

$orange: #ffa500;       $orange-shade: #FF8C00;

$lightgrey: #aaa;       $lightgrey-shade: #888;
$grey: #656565;         $grey-shade: #555;
$darkgrey: #333;        $darkgrey-shade: #222;

$lightgreen: #32cc32;   $lightgreen-shade: #21bc21;
$green: #0c0;           $green-shade: #0a0;
$darkgreen: #006400;    $darkgreen-shade: #005000;

$red: #d00;             $red-shade: #b00;
$darkred: #900000;      $darkred-shade: #800000;
$yellow: #dddd00;       $yellow-shade: #bbbb00;

$lightbrown: #eedd82;   $lightbrown-shade: #ccbb60;
$brown: #B13E0F;        $brown-shade: #a02d0e;
$darkbrown: #663300;    $darkbrown-shade: #552200;

$indigo: #6F00FF;       $indigo-shade: #5e00ee;
$purple: #800080;       $purple-shade: #600060;
$violet: #8F00FF;       $violet-shade: #7e00ee;

$lightpink: #FFB6C1;    $lightpink-shade: #dd94b0;
$pink: #FF66CC;         $pink-shade: #dd3aab;
$darkpink: #FF58B4;     $darkpink-shade: #dd3692;
