// ===================
// Development styles
// ===================

// layout shown with green borders
[class*="col-"] {
    border: solid green 1px;
}

// height tests styles
.h-100px {
    height: 100px;
}

.h-200px {
    height: 200px;
}

.h-300px {
    height: 300px;
}

.h-400px {
    height: 400px;
}

.h-500px {
    height: 500px;
}


// width tests styles
.w-100px {
    width: 100px;
}

.w-200px {
    width: 200px;
}

.w-300px {
    width: 300px;
}

.w-400px {
    width: 400px;
}

.w-500px {
    width: 500px;
}
