.text--color-white {
    color: $white;
}

.text--color-black {
    color: $black;
}

.text--color-lightblue {
    color: $lightblue;
}

.text--color-blue {
    color: $blue;
}

.text--color-darkblue {
    color: $darkblue;
}

.text--color-orange {
    color: $orange;
}

.text--color-darkorange {
    color: $darkorange;
}

.text--color-lightgrey {
    color: $lightgrey;
}

.text--color-grey {
    color: $grey;
}

.text--color-darkgrey {
    color: $darkgrey;
}

.text--color-lightgreen {
    color: $lightgreen;
}

.text--color-green {
    color: $green;
}

.text--color-darkgreen {
    color: $darkgreen;
}

.text--color-red {
    color: $red;
}

.text--color-darkred {
    color: $darkred;
}

.text--color-pink {
    color: $pink;
}

.text--color-purple {
    color: $purple;
}

.text--color-yellow {
    color: $yellow;
}

.text--color-lightbrown {
    color: $lightbrown;
}

.text--color-brown {
    color: $brown;
}

.text--color-darkbrown {
    color: $darkbrown;
}
