.text--color-white {
    color: $white;
}

.text--color-black {
    color: $black;
}

.text--color-lightblue {
    color: $lightblue;
}

.text--color-blue {
    color: $blue;
}

.text--color-darkblue {
    color: $darkblue;
}

.text--color-orange {
    color: $orange;
}

.text--color-darkorange {
    color: $darkorange;
}

.text--color-lightgrey {
    color: $lightgrey;
}

.text--color-grey {
    color: $grey;
}

.text--color-darkgrey {
    color: $darkgrey;
}
