.text--color-white {
    color: #fefefe;
}

.text--color-black {
    color:black;
}

.text--color-lightblue {
    color: #9ac0cd;
}

.text--color-darkblue {
    color: #191944;
}

.text--color-orange {
    color: #ffa500;
}

.text--color-darkorange {
    color: #FF8C00;
}

.text--color-grey {
    color: #aaa;
}

.text--color-darkgrey {
    color: #444;
}
