.text--shadow-black {
    text-shadow: 2px 2px 1px #000;
}

.text--shadow-lightblue {
    text-shadow: 2px 2px 1px #9ac0cd;
}

.text--shadow-darkblue {
    text-shadow: 2px 2px 1px #191944;
}

.text--shadow-orange {
    text-shadow: 2px 2px 1px #ffa500;
}

.text--shadow-darkorange {
    text-shadow: 2px 2px 1px #FF8C00;
}

.text--shadow-lightgrey {
    text-shadow: 2px 2px 1px #aaa;
}

.text--shadow-grey {
    text-shadow: 2px 2px 1px #656565;
}

.text--shadow-darkgrey {
    text-shadow: 2px 2px 1px #333;
}
