html,
body {
  margin: 0px; }

main,
header {
  padding: 15px 30px 0px 30px; }

* {
  box-sizing: border-box; }

.float,
.float-l {
  float: left; }

.float-r {
  float: right; }

.col-0 {
  width: 0%;
  display: none; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media only screen and (min-width: 600px) {
  .col-m-0 {
    width: 0%;
    display: none; }

  .col-m-1 {
    width: 8.33%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
@media only screen and (min-width: 768px) {
  .col-la-0 {
    width: 0%;
    display: none; }

  .col-la-1 {
    width: 8.33%; }

  .col-la-2 {
    width: 16.66%; }

  .col-la-3 {
    width: 25%; }

  .col-la-4 {
    width: 33.33%; }

  .col-la-5 {
    width: 41.66%; }

  .col-la-6 {
    width: 50%; }

  .col-la-7 {
    width: 58.33%; }

  .col-la-8 {
    width: 66.66%; }

  .col-la-9 {
    width: 75%; }

  .col-la-10 {
    width: 83.33%; }

  .col-la-11 {
    width: 91.66%; }

  .col-la-12 {
    width: 100%; } }
@media only screen and (min-width: 1000px) {
  .col-h-0 {
    width: 0%;
    display: none; }

  .col-h-1 {
    width: 8.33%; }

  .col-h-2 {
    width: 16.66%; }

  .col-h-3 {
    width: 25%; }

  .col-h-4 {
    width: 33.33%; }

  .col-h-5 {
    width: 41.66%; }

  .col-h-6 {
    width: 50%; }

  .col-h-7 {
    width: 58.33%; }

  .col-h-8 {
    width: 66.66%; }

  .col-h-9 {
    width: 75%; }

  .col-h-10 {
    width: 83.33%; }

  .col-h-11 {
    width: 91.66%; }

  .col-h-12 {
    width: 100%; } }
.wrap--section::after,
.row::after {
  content: "";
  clear: both;
  display: table; }

.wrap--article {
  padding: 0px 15px;
  margin-bottom: 30px; }

/************
 Font sizes
*************/
html {
  font-size: 14px; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.4rem; }

@media only screen and (min-width: 600px) {
  html {
    font-size: 15px; } }
@media only screen and (min-width: 768px) {
  html {
    font-size: 16px; } }
@media only screen and (min-width: 1000px) {
  html {
    font-size: 18px; } }
.text--color-white {
  color: #fefefe; }

.text--color-black {
  color: black; }

.text--color-lightblue {
  color: #9ac0cd; }

.text--color-darkblue {
  color: #191944; }

.text--color-orange {
  color: #ffa500; }

.text--color-darkorange {
  color: #FF8C00; }

.text--color-lightgrey {
  color: #aaa; }

.text--color-grey {
  color: #656565; }

.text--color-darkgrey {
  color: #333; }

.text--shadow-black {
  text-shadow: 2px 2px 1px #000; }

.text--shadow-lightblue {
  text-shadow: 2px 2px 1px #9ac0cd; }

.text--shadow-darkblue {
  text-shadow: 2px 2px 1px #191944; }

.text--shadow-orange {
  text-shadow: 2px 2px 1px #ffa500; }

.text--shadow-darkorange {
  text-shadow: 2px 2px 1px #FF8C00; }

.text--shadow-lightgrey {
  text-shadow: 2px 2px 1px #aaa; }

.text--shadow-grey {
  text-shadow: 2px 2px 1px #656565; }

.text--shadow-darkgrey {
  text-shadow: 2px 2px 1px #333; }

.header {
  border-radius: 5px;
  padding: 6px 2px;
  text-align: center;
  min-height: 3.5rem;
  margin: 0px;
  border-bottom: solid 1px; }

.header--border-lightblue {
  box-shadow: 0px 3px 4px -1px #9ac0cd;
  border-color: #9ac0cd; }

.header--border-darkblue {
  box-shadow: 0px 3px 4px -1px #191944;
  border-color: #191944; }

.header--color-orange {
  box-shadow: 0px 3px 4px -1px #ffa500;
  border-color: #ffa500; }

.header--border-darkorange {
  box-shadow: 0px 3px 4px -1px #FF8C00;
  border-color: #FF8C00; }

.header--border-lightgrey {
  box-shadow: 0px 3px 4px -1px #aaa;
  border-color: #aaa; }

.header--border-lightgrey {
  box-shadow: 0px 3px 4px -1px #656565;
  border-color: #656565; }

.header--border-darkgrey {
  box-shadow: 0px 3px 4px -1px #333;
  border-color: #333; }

.header--color-lightblue {
  background-color: #9ac0cd; }

.header--color-darkblue {
  background-color: #191944; }

.header--color-orange {
  background-color: #ffa500; }

.header--color-darkorange {
  background-color: #FF8C00; }

.header--color-lightgrey {
  background-color: #aaa; }

.header--color-grey {
  background-color: #656565; }

.header--color-darkgrey {
  background-color: #333; }

.button {
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-radius: 5px; }

.button:hover {
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 2px; }

.button-roundcorner {
  border-style: solid;
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 2px;
  border-radius: 25px; }

.button-roundcorner:hover {
  border-top: 0px;
  border-right: 2px;
  border-bottom: 2px;
  border-left: 0px; }

.button--hover-underline {
  text-decoration: none; }

.button--hover-underline:hover {
  text-decoration: underline; }

.button--color-orange {
  background-color: #ffa500;
  box-shadow: 2px 2px 2px 0px  #FF8C00;
  border-bottom-color: #FF8C00;
  border-right-color: #FF8C00;
  border-top-color: #ffa500;
  border-left-color: #ffa500; }

.button--color-orange:hover {
  border-bottom-color: #ffa500;
  border-right-color: #ffa500;
  border-top-color: #FF8C00;
  border-left-color: #FF8C00; }

.button--color-lightblue {
  background-color: #9ac0cd;
  box-shadow: 2px 2px 2px 0px #7895ab;
  border-bottom-color: #7895ab;
  border-right-color: #7895ab;
  border-top-color: #9ac0cd;
  border-left-color: #9ac0cd; }

.button--color-lightblue:hover {
  border-bottom-color: #9ac0cd;
  border-right-color: #9ac0cd;
  border-top-color: #7895ab;
  border-left-color: #7895ab; }

.button--color-darkblue {
  background-color: #191944;
  box-shadow: 2px 2px 2px 0px #090933;
  border-bottom-color: #090933;
  border-right-color: #090933;
  border-top-color: #191944;
  border-left-color: #191944; }

.button--color-darkblue:hover {
  border-bottom-color: #191944;
  border-right-color: #191944;
  border-top-color: #090933;
  border-left-color: #090933; }

.button--color-lightgrey {
  background-color: #aaa;
  box-shadow: 2px 2px 2px 0px #888;
  border-bottom-color: #888;
  border-right-color: #888;
  border-top-color: #aaa;
  border-left-color: #aaa; }

.button--color-lightgrey:hover {
  border-bottom-color: #aaa;
  border-right-color: #aaa;
  border-top-color: #888;
  border-left-color: #888; }

.button--color-grey {
  background-color: #656565;
  box-shadow: 2px 2px 2px 0px #555;
  border-bottom-color: #555;
  border-right-color: #555;
  border-top-color: #656565;
  border-left-color: #656565; }

.button--color-grey:hover {
  border-bottom-color: #656565;
  border-right-color: #656565;
  border-top-color: #555;
  border-left-color: #555; }

.button--color-darkgrey {
  background-color: #333;
  box-shadow: 2px 2px 2px 0px #222;
  border-bottom-color: #222;
  border-right-color: #222;
  border-top-color: #333;
  border-left-color: #333; }

.button--color-darkgrey:hover {
  border-bottom-color: #333;
  border-right-color: #333;
  border-top-color: #222;
  border-left-color: #222; }

.button--size-s {
  padding: 0px; }

.button--size-m {
  padding: 10px; }

.button--size-la {
  padding: 20px; }

.button--size-h {
  padding: 30px; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  font-weight: bold; }

.article {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  padding: 0px;
  border-radius: 5px; }

.article--white {
  border-color: #fefefe; }

.article--black {
  border-color: black; }

.article--lightblue {
  border-color: #9ac0cd; }

.article--darkblue {
  border-color: #00008b; }

.article--orange {
  border-color: #ffa500; }

.article--darkorange {
  border-color: #FF8C00; }

.article--lightgrey {
  border-color: #aaa; }

.article--grey {
  border-color: #656565; }

.article--darkgrey {
  border-color: #666; }

[class*="col-"] {
  border: solid green 1px; }

.h_100px {
  height: 100px; }

.h_200px {
  height: 200px; }

.h_300px {
  height: 300px; }

.h_400px {
  height: 400px; }

.h_500px {
  height: 500px; }

.w_100px {
  width: 100px; }

.w_200px {
  width: 200px; }

.w_300px {
  width: 300px; }

.w_400px {
  width: 400px; }

.w_500px {
  width: 500px; }

/*# sourceMappingURL=master.css.map */
