.article {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 0px;
    border-radius: 5px;
}

.article--lightblue {
    border-color: #9ac0cd;
}

.article--darkblue {
    border-color: #00008b;
}

.article--orange {
    border-color: #ffa500;
}

.article--darkorange {
    border-color: #FF8C00;
}

.article--grey {
    border-color: #aaa;
}

.article--darkgrey {
    border-color: #444;
}
