.article {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 0px;
    border-radius: 5px;
}

.article--white {
    border-color: #fefefe;
}

.article--black {
    border-color: black;
}

.article--lightblue {
    border-color: #9ac0cd;
}

.article--darkblue {
    border-color: #00008b;
}

.article--orange {
    border-color: #ffa500;
}

.article--darkorange {
    border-color: #FF8C00;
}

.article--lightgrey {
    border-color: #aaa;
}

.article--grey {
    border-color: #656565;
}

.article--darkgrey {
    border-color: #666;
}
