.text--white {
    color:white;
}

.text--black {
    color:black;
}

.text--orange {
    color:orange;
}

// .text--red {
//     color:red;
// }
//
// .text--blue {
//     color:blue;
// }
//
// .text--green {
//     color:green;
// }
