.text--color-white {
    color: #fefefe;
}

.text--color-black {
    color:black;
}

.text--color-orange {
    color:orange;
}

// .text--red {
//     color:red;
// }
//
// .text--blue {
//     color:blue;
// }
//
// .text--green {
//     color:green;
// }
