//black
.button--color-black {
    background-color:$black;
    box-shadow: 2px 2px 2px 0px $black-shade;

    border-bottom-color: $black-shade;
    border-right-color: $black-shade;

    border-top-color: $black;
    border-left-color: $black;
}

.button--color-orange:hover {
    border-bottom-color: $black;
    border-right-color: $black;

    border-top-color: $black-shade;
    border-left-color: $black-shade;
}


//orange
.button--color-orange {
    background-color:$orange;
    box-shadow: 2px 2px 2px 0px $darkorange;

    border-bottom-color: $darkorange;
    border-right-color: $darkorange;

    border-top-color: $orange;
    border-left-color: $orange;
}

.button--color-orange:hover {
    border-bottom-color: $orange;
    border-right-color: $orange;

    border-top-color: $darkorange;
    border-left-color: $darkorange;
}


//lightblue
.button--color-lightblue {
    background-color: $lightblue;
    box-shadow: 2px 2px 2px 0px $lightblue-shade;

    border-bottom-color: $lightblue-shade;
    border-right-color: $lightblue-shade;

    border-top-color: $lightblue;
    border-left-color: $lightblue;
}

.button--color-lightblue:hover {
    border-bottom-color: $lightblue;
    border-right-color: $lightblue;

    border-top-color: $lightblue-shade;
    border-left-color: $lightblue-shade;
}


//darkblue
.button--color-darkblue {
    background-color: $darkblue;
    box-shadow: 2px 2px 2px 0px $darkblue-shade;

    border-bottom-color: $darkblue-shade;
    border-right-color: $darkblue-shade;

    border-top-color: $darkblue;
    border-left-color: $darkblue;
}

.button--color-blue:hover {
    border-bottom-color: $darkblue;
    border-right-color: $darkblue;

    border-top-color: $darkblue-shade;
    border-left-color: $darkblue-shade;
}

//blue
.button--color-blue {
    background-color: $blue;
    box-shadow: 2px 2px 2px 0px $blue-shade;

    border-bottom-color: $blue-shade;
    border-right-color: $blue-shade;

    border-top-color: $blue;
    border-left-color: $blue;
}

.button--color-blue:hover {
    border-bottom-color: $blue;
    border-right-color: $blue;

    border-top-color: $blue-shade;
    border-left-color: $blue-shade;
}


//lightgrey
.button--color-lightgrey {
    background-color: $lightgrey;
    box-shadow: 2px 2px 2px 0px $lightgrey-shade;

    border-bottom-color: $lightgrey-shade;
    border-right-color: $lightgrey-shade;

    border-top-color: $lightgrey;
    border-left-color: $lightgrey;
}

.button--color-lightgrey:hover {
    border-bottom-color: $lightgrey;
    border-right-color: $lightgrey;

    border-top-color: $lightgrey-shade;
    border-left-color: $lightgrey-shade;
}


//grey
.button--color-grey {
    background-color: $grey;
    box-shadow: 2px 2px 2px 0px $grey-shade;

    border-bottom-color: $grey-shade;
    border-right-color: $grey-shade;

    border-top-color: $grey;
    border-left-color: $grey;
}

.button--color-grey:hover {
    border-bottom-color: $grey;
    border-right-color: $grey;

    border-top-color: $grey-shade;
    border-left-color: $grey-shade;
}


//darkgrey
.button--color-darkgrey {
    background-color: $darkgrey;
    box-shadow: 2px 2px 2px 0px $darkgrey-shade;

    border-bottom-color: $darkgrey-shade;
    border-right-color: $darkgrey-shade;

    border-top-color: $darkgrey;
    border-left-color: $darkgrey;
}

.button--color-darkgrey:hover {
    border-bottom-color: $darkgrey;
    border-right-color: $darkgrey;

    border-top-color: $darkgrey-shade;
    border-left-color: $darkgrey-shade;
}


//lightgreen
.button--color-lightgreen {
    background-color: $lightgreen;
    box-shadow: 2px 2px 2px 0px $lightgreen-shade;

    border-bottom-color: $lightgreen-shade;
    border-right-color: $lightgreen-shade;

    border-top-color: $lightgreen;
    border-left-color: $lightgreen;
}

.button--color-lightgreen:hover {
    border-bottom-color: $lightgreen;
    border-right-color: $lightgreen;

    border-top-color: $lightgreen-shade;
    border-left-color: $lightgreen-shade;
}


//green
.button--color-green {
    background-color: $green;
    box-shadow: 2px 2px 2px 0px $green-shade;

    border-bottom-color: $green-shade;
    border-right-color: $green-shade;

    border-top-color: $green;
    border-left-color: $green;
}

.button--color-green:hover {
    border-bottom-color: $green;
    border-right-color: $green;

    border-top-color: $green-shade;
    border-left-color: $green-shade;
}


//darkgreen
.button--color-darkgreen {
    background-color: $darkgreen;
    box-shadow: 2px 2px 2px 0px $darkgreen-shade;

    border-bottom-color: $darkgreen-shade;
    border-right-color: $darkgreen-shade;

    border-top-color: $darkgreen;
    border-left-color: $darkgreen;
}

.button--color-darkgreen:hover {
    border-bottom-color: $darkgreen;
    border-right-color: $darkgreen;

    border-top-color: $darkgreen-shade;
    border-left-color: $darkgreen-shade;
}


//red
.button--color-red {
    background-color: $red;
    box-shadow: 2px 2px 2px 0px $red-shade;

    border-bottom-color: $red-shade;
    border-right-color: $red-shade;

    border-top-color: $red;
    border-left-color: $red;
}

.button--color-red:hover {
    border-bottom-color: $red;
    border-right-color: $red;

    border-top-color: $red-shade;
    border-left-color: $red-shade;
}


//darkred
.button--color-darkred {
    background-color: $darkred;
    box-shadow: 2px 2px 2px 0px $darkred-shade;

    border-bottom-color: $darkred-shade;
    border-right-color: $darkred-shade;

    border-top-color: $darkred;
    border-left-color: $darkred;
}

.button--color-darkred:hover {
    border-bottom-color: $darkred;
    border-right-color: $darkred;

    border-top-color: $darkred-shade;
    border-left-color: $darkred-shade;
}


//pink
.button--color-pink {
    background-color: $pink;
    box-shadow: 2px 2px 2px 0px $pink-shade;

    border-bottom-color: $pink-shade;
    border-right-color: $pink-shade;

    border-top-color: $pink;
    border-left-color: $pink;
}

.button--color-pink:hover {
    border-bottom-color: $pink;
    border-right-color: $pink;

    border-top-color: $pink-shade;
    border-left-color: $pink-shade;
}

//purple
.button--color-purple {
    background-color: $purple;
    box-shadow: 2px 2px 2px 0px $purple-shade;

    border-bottom-color: $purple-shade;
    border-right-color: $purple-shade;

    border-top-color: $purple;
    border-left-color: $purple;
}

.button--color-purple:hover {
    border-bottom-color: $purple;
    border-right-color: $purple;

    border-top-color: $purple-shade;
    border-left-color: $purple-shade;
}


//yellow
.button--color-yellow {
    background-color: $yellow;
    box-shadow: 2px 2px 2px 0px $yellow-shade;

    border-bottom-color: $yellow-shade;
    border-right-color: $yellow-shade;

    border-top-color: $yellow;
    border-left-color: $yellow;
}

.button--color-yellow:hover {
    border-bottom-color: $yellow;
    border-right-color: $yellow;

    border-top-color: $yellow-shade;
    border-left-color: $yellow-shade;
}
