$white: #fefefe;
$black: black;

$lightblue: #9ac0cd;    $lightblue-shade: #89b0bc;
$blue: #151599;         $blue-shade: #040466;
$darkblue: #191944;     $darkblue-shade: #090933;

$orange: #ffa500;
$darkorange: #FF8C00;

$lightgrey: #aaa;       $lightgrey-shade: #888;
$grey: #656565;         $grey-shade: #555;
$darkgrey: #333;        $darkgrey-shade: #222;

$lightgreen: #32CD32;
$green: #0f0;
$darkgreen: #006400;

$red: #f00;
$darkred: #800000;
