
.header--color-white {
    background-color: $white;
}

//grey
.header--color-lightgrey {
    background-color: $lightgrey;
}

.header--color-grey {
    background-color: $grey;
}

.header--color-darkgrey {
    background-color: $darkgrey;
}

//black
.header--color-black {
    background-color: $black;
}

//blue
.header--color-lightblue {
    background-color: $lightblue;
}

.header--color-blue {
    background-color: $blue;
}

.header--color-darkblue {
    background-color: $darkblue;
}

//green
.header--color-lightgreen {
    background-color: $lightgreen;
}

.header--color-green {
    background-color: $green;
}

.header--color-darkgreen {
    background-color: $darkgreen;
}


//red
.header--color-red {
    background-color: $red;
}

.header--color-darkred {
    background-color: $darkred;
}

//orange
.header--color-orange {
    background-color: $orange;
}

.header--color-orange-shade {
    background-color: $orange-shade;
}

//yellow
.header--color-yellow {
    background-color: $yellow;
}

.header--color-lightbrown {
    background-color: $lightbrown;
}

.header--color-brown {
    background-color: $brown;
}

.header--color-darkbrown {
    background-color: $darkbrown;
}

//indigo
.header--color-indigo {
    background-color: $indigo;
}

//purple
.header--color-violet {
    background-color: $violet;
}

//purple
.header--color-purple {
    background-color: $purple;
}

//lightpink
.header--color-lightpink {
    background-color: $lightpink;
}

//pink
.header--color-pink {
    background-color: $pink;
}

//darkpink
.header--color-darkpink {
    background-color: $darkpink;
}
