/************
 Font sizes
*************/

html {
    font-size: 14px;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}
h3 {
    font-size: 1.4rem;
}

@media only screen and (min-width: 600px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}
