// color
.header--color-black {
    background-color: $black;
}


//orange
.header--color-orange {
    background-color: $orange;
}

.header--color-darkorange {
    background-color: $darkorange;
}


//blue
.header--color-lightblue {
    background-color: $lightblue;
}

.header--color-blue {
    background-color: $blue;
}

.header--color-darkblue {
    background-color: $darkblue;
}


//grey
.header--color-lightgrey {
    background-color: $lightgrey;
}

.header--color-grey {
    background-color: $grey;
}

.header--color-darkgrey {
    background-color: $darkgrey;
}


//green
.header--color-lightgreen {
    background-color: $lightgreen;
}

.header--color-green {
    background-color: $green;
}

.header--color-darkgreen {
    background-color: $darkgreen;
}


//red
.header--color-red {
    background-color: $red;
}

.header--color-darkred {
    background-color: $darkred;
}

//pink
.header--color-pink {
    background-color: $pink;
}

//purple
.header--color-purple {
    background-color: $purple;
}

//yellow
.header--color-yellow {
    background-color: $yellow;
}
