// grid support function1: */
* {
    box-sizing: border-box;
}

// grid support function2: */
.float,
.float-l {
    float: left;
}

.float-r {
    float: right;
}

// For mobile phones: */
.col-0 {width: 0%; display: none;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

// For tablets: */
@media only screen and (min-width: 600px) {
    .col-m-0 {width: 0%; display: none;}
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

// For desktop: */
@media only screen and (min-width: 768px) {
    .col-la-0 {width: 0%; display: none;}
    .col-la-1 {width: 8.33%;}
    .col-la-2 {width: 16.66%;}
    .col-la-3 {width: 25%;}
    .col-la-4 {width: 33.33%;}
    .col-la-5 {width: 41.66%;}
    .col-la-6 {width: 50%;}
    .col-la-7 {width: 58.33%;}
    .col-la-8 {width: 66.66%;}
    .col-la-9 {width: 75%;}
    .col-la-10 {width: 83.33%;}
    .col-la-11 {width: 91.66%;}
    .col-la-12 {width: 100%;}
}

// for huge screens: */
@media only screen and (min-width: 1000px) {
    .col-h-0 {width: 0%; display: none;}
    .col-h-1 {width: 8.33%;}
    .col-h-2 {width: 16.66%;}
    .col-h-3 {width: 25%;}
    .col-h-4 {width: 33.33%;}
    .col-h-5 {width: 41.66%;}
    .col-h-6 {width: 50%;}
    .col-h-7 {width: 58.33%;}
    .col-h-8 {width: 66.66%;}
    .col-h-9 {width: 75%;}
    .col-h-10 {width: 83.33%;}
    .col-h-11 {width: 91.66%;}
    .col-h-12 {width: 100%;}
}
